
h1{ color:9703D7;}
h2{color:5DD703;}
h3{background-color:red;}
h4{background-image:url('image-url'); }

button:hover {background-color: 03C7D7;}

#oumayma:hover{display:none;}
p{display : inline ;}